

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a{
    
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0%;
    display: block;
    
}
nav a:hover{
    background: blue;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav li{
    flex: 1 1 0;
}

nav{
    display: flex;
    justify-content: space-between;
}

a.tw{
    background-image: url(twitter.png)  no-repeat center ;
    background-size: 80%;
}
a.fb{
    background-image: url(facebook.jpg) no-repeat center;
    background-size: 80%;
}
.social a{ 
    text-indent: -1000px;
}
