:root {
    --orange: #DA722C;
    --Lightblue: #057ADA;
    --whiteblue: #E8F7FB;
    --bluefonse: #023047;
    --black: #070917;
    --lightblue2: #6F7DFB;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins",sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

/*Buttons*/
.btn{
    padding: 16px 32px;
    border-radius: 24px;
    color: white;
    display: inline-flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    position: relative;
 
}
.btn.dark {
    background: #023047;
}
.btn.right {
    background: #DA722C;
}
.btn.enrol-icon::before {
    content: url(pencil-alt.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-40%);
}
.btn.enrol-icon {
    padding-left: 60px;
}
/* header*/
header{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);

}
nav{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   position: fixed;
   width: 1134px;
   top: 36px;
   z-index: 100;
   transition: all 500ms ease;
}
nav .scrolled {
    background: var(--black);
    box-shadow: 0 16px  14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
}
 nav .logo{
    color: #FFF;
   font-family: "Raleway" sans-serif;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
    line-height: normal;
    
 }
 nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
 }
 nav ul li a{
    
    color: #FFF;
  font-family: "Poppins", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration: none;

 }

 /*hero section*/

 .hero-section{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
 }

 .hero-section .left h1{
   
   font-family: "Raleway",sans-serif;
   font-size: 50px;
   
   font-weight: 900;
   line-height: 125%; 
   color: #FFF;
   margin-bottom: 0;

 } 
 .hero-section .left p{
    color: #FFF;
font-family: "Poppins",sans-serif;
font-size: 16px;

font-weight: 400;
line-height: 200%; 
margin-bottom: 30px;
width: 457px;
 }
 .hero-section .left{
    flex: 1;
 }

 .hero-section .right img{
    
    height: 480px;
    vertical-align: middle;
    }

    .hero-section .right {
        align-self: flex-end;
    }

    /*achievement cards*/
.achievement-cards {
    position: absolute;
}

.achievement-cards .content{
    border-radius: 24px;
background: #FFF;
padding: 8px 32px;
z-index: 10;
position: relative;

}
.achievement-cards.student-enrolled{
    left: 463px;
    top: -36px;
    height: 97px;
    width: 204px;
}

.achievement-cards.overall-rating {
    left: 326px;
    top: 183px;
    height: 104px;
    width: 232px;
    margin: 0;
}
.achievement-cards h3{
    color: #023047;
  font-family: "Poppins",sans-serif;
font-size: 36px;
font-weight: 700;
margin: 0;
text-align: center;
width: 100%;

}
.achievement-cards p{
    color: #023047;
font-family: "Poppins",sans-serif;
font-size: 16px;
font-weight: 400;
margin: 0;
text-align: center;
}

.achievement-cards .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 24px;
background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
top: 8px;
left: 8px;
z-index: 1;
} 
.achievement-cards .content div{
    display: flex;
    gap:-12px;
    align-items: center;
    
}
.achievement-cards .content div img{
    width: 44px;
    height: 44px;
flex-shrink: 0;
}

/*Testimonial*/
section{
    margin-top: 100px;
}
h2 {
    color: #023047;
font-family: "Raleway",sans-serif;
font-size: 60px;
margin: 0;
font-weight: 900;

}
h2.right{
    color: #FFF;
}
section p{
    color: #023047;
font-family: "Poppins", sans-serif;
font-size: 16px;

font-weight: 400;

}
.testimonials-section {
    display: flex;
    gap: 100px;
    align-items: center;
}
.testimonials-section .btn-right-mobile-version{
    display: none;
}
.testimonials-section .testimonial-card {
    border-radius: 24px;
background: #FFF;
box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.20);
margin-bottom: 50px;
position: relative;
}

.testimonials-section .testimonial-card::before {
    content: "";
    width: 28px;
height: 40px;
top: -40px;
left: 60px;
position: absolute;

 
 background: #023047;
 border-radius: 24px 24px 0 0;
}

.testimonials-section .testimonial-card:last-child::before {
    left: 40px;
    top: -40px;
    border-radius: 0 0 24px 24px;
    height: calc(100% + 90px);
    z-index: -1;

}


.testimonials-section .testimonial-card .content{
    color: #FFF;
font-family: "Raleway", sans-serif;
font-size: 18px;
padding: 24px 32px;
font-weight: 900;
border-radius: 24px;
background: #6F7DFB;
}

.testimonials-section .testimonial-card:last-child .content{
    background: #DA722C;
}

.testimonials-section .testimonial-card .content .info h4 {
    color: #023047;
font-family: "Raleway",sans-serif;
font-size: 24px;

font-weight: 900;
}
.testimonials-section .testimonial-card .info {
    padding: 24px 32px;
    margin: 0;
    background: white;
    border-radius: 24px;

}
.testimonials-section .testimonial-card .content .info p .company{
    color: #023047;
font-family: "Raleway", sans-serif;
font-size: 18px;

font-weight: 400;}

.testimonials-section .testimonial-card img{
    border-radius: 120px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
width: 120px;
height: 120px;
position: absolute;
right: 22px;
top: 67px;
}
.testimonials-section .testimonial-card:last-child {
    transform: translateX(20px);
}

/*course section*/

.courses-section{
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%); 
    padding: 70px 0;
    padding-bottom: 107px;   
}
.courses-section h2{
    text-align: center;
    

}
.courses-section .course-cards {
    display: flex;
    gap: 83px;
}

.courses-section .course-cards img{
    width: 100%;
    border-radius: 24px;

box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.courses-section .course-card {
    border-radius: 24px;
background: #FFF;
padding: 0px 32px;
margin: 40px 0px;
position: relative;
}

.courses-section .course-card::after{
    content: "";
    border-radius: 24px;
background: #023047;
height: 8px;
right: 32px;
left: 32px;
bottom: 0;
position: absolute;
}
.courses-section .course-card h3 {
    
    color: #023047;
font-family: "Raleway", sans-serif;
font-size: 30px;
font-weight: 900;

}
.courses-section .course-card .info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.courses-section .course-card .duration{
    color: #023047;
font-family: "Raleway", sans-serif;
white-space: nowrap;
font-size: 16px;
font-weight: 900;
position: relative;

}
.courses-section .course-card .duration::before {
    content: url(clock.png);
    position: absolute;
    top: -1px;
    left: -22px;
}

.courses-section .wrapper{
    position: relative;
}
.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}

/*App section*/

.app-section {
    text-align: center;
}
.app-section .app-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.app-section .app-btn {
    display: flex;
    color: white;
width: 310px;
padding: 20px 31px;
align-items: center;
gap: 14px;
background: #000;
gap: 14px;
min-width: 309;
}
 .app-section .app-btn span{
    color: #FFF;
text-align: center;
font-family: "Poppins",sans-serif;
font-size: 24px;
font-weight: 400;


 }

 /*end*/

 footer {
    background: #070917;
    color: white;
    margin-top: 100px;
    padding: 70px 0px;
 }
 footer a{
    text-decoration: none;
    color: white;
 }

 footer h3{
    color: var(--orange);
 }
 footer ul{
    list-style: none;
    padding-left: 20px;
 }
 footer ul li{
    margin: 16px 0;
 }

 footer .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;

 }
 footer .social {
    margin-left: 20px;
 }
 footer .social a{
    margin-right: 28px;
 }
 footer form{
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
 }
 
 footer form input{
    color: #000;
font-family: "Poppins",sans-serif;
font-size: 16px;

font-weight: 400;
border-radius: 8px;
padding: 8px 32px;
border: none;
width: 100%;
 }
 footer form .submit-btn {
    position: absolute;
    right: 6px;
    top: 51%;
    transform: translateY(-50%);
    border-radius: 8px;
    padding: 5px 32px;
    background: rgb(1, 1, 51);
    border: 0;
    color: #FFF;
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

 

 footer .copyright{
    margin-top: 36px;
 }


 @media screen and (max-width: 1100px){
    .btn{
    display: inline-flex;
    padding: 12px 32px;
    align-items: center;
    gap: 10px;
    }
    .wrapper {
        padding: 0 100px;
    }
    nav {
        width: 100%;
        left: 0;
        right: 0;
        padding: 36px 100px;
    }
    .achievement-cards.student-enrolled{
        left: 92px;
        top: 308px;}
    .achievement-cards.overall-rating{
        left: 87px;
        top: 489px;
    }
    .hero-section .right img {
        height: 527px;
    }
    h2 {
        font-size: 40px;

    }
    .testimonials-section{
        flex-direction: column;
        align-items: stretch;

    }
    .testimonials-section .testimonial-card{
        width: 100%;
    }
    .testimonials-section .testimonial-card:last-child::before {
        top: -40px;
        left: 60px;
        height: calc(100% + 80px);
    }
    .testimonials-section .testimonial-card:last-child {
        transform: translateY(0px);
    }
    .testimonials-section .desktop-btn{
        display: none;
    }
    .testimonials-section .mobile-btn{
        display: block;
        align-self: flex-end;
        order: 3;

    }
    .testimonials-section .right {
        order: 1;
    }
    .testimonials-section .left{
        order: 2;
    }
 }



























