body{
    background: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;

}
.gridcontent{
    background: grey ;
    margin: 0 auto;
    max-width: 900px;
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    grid-template-rows: 100px 200px 300px;
    gap: 20px;


}
.gridcontent > div {
    background: #eee;
    padding: 20px;
    text-align: center;
    border: 1px solid;
    
}
div #dot {
 grid-column: 1 /  span 2;
}
div #dot2 {
    grid-column: span 3;
}
div #dot3 {
    grid-column: 1 / span 3;
    
}
div #dot5 {
    grid-column: 2 / span 4;
    
}div #dot6 { 
    justify-self: end;
    align-self: center;
}