/*********************
Author: luckytys
Date: 24.11.23
************************/

/*this i have styled the p tags using external stle sheets*/

p{ font-size: 21px;
    color: blue;


}
p{
    color: green;
}
#obj{
    color: grey;
    text-decoration: underline;
}
#res{
color: dodgerblue;
}
#welcome{ color: blue;
background-color: whitesmoke;
size: 52px;
position: absolute;top: 0%;margin-bottom: 0%;

height: auto;
}
#firstone {
    color: black;

}
#int {
    color: red;
}
#id toy h2 + p{
    color: green;

}


#maincontent p{
    color: red;
    font-size: 12 px;
}
#subcontent p{
    color: green;
    font-size: 10xp;
}
a:visited{
    color: red;

}
a:hover{
    color: blue;
}
a:active{
    color: green;
}

article p:first-child{
    color: blueviolet;
}
article p:last-child{
    font-weight: bolder;
    color: aquamarine;
}
li:nth-child(2){
    color: green;

}
li:nth-child(odd){
    color: yellow;

}
li:nth-child(2n+1 ){
font-weight: bolder;
} 


article:nth-of-type(1){
    background: blue;

}
article:nth-of-type(3){
    font-weight: bold;
}
article.feaured-content{
    background: blueviolet;

}
div.sub-content{
    font-weight: bolder;
    word-spacing: 9px;
    line-height: 12px;
    word-spacing: 2em;
}
article {
    font-size: 12px;
}
article p{
    font-size: 2em;
}
article div p.to{
    background: green;
}